:root{
    --speed:5;
}

.machine{
    background-color: peru;
    border: dashed brown 3px;
    height: 300px;
    width: 900px;
    margin: 50px;
    z-index: 5;
    display: flex;
}
#inpspeed{
    font-size: 30px;
    margin-left: 30px;
    width: 100px;
    
}

.slot{
    height: 250px ;
    width: 250px;
    margin:20px;
    background-color: beige;
    border: solid 2px;
    z-index: 1;
    text-align: center;
    font-size: 100px;
    line-height: 250px;
    overflow: hidden;
}

.slot > .value{
    z-index: 3;
    display: inline-block;
    animation-name: slotspin;
    animation-iteration-count: infinite;
    animation-duration: calc(1s/var(--speed));
}

@keyframes slotspin {
    0%{
        transform: translateY(-200px);
    }
    100%{
         transform: translateY(200px);
    }
}